{%extends 'restaurant/base.html'%}
{%load static%}
{%block content%}
<div class="content">


<h1 class="page-title">Slo Mo Joe's Stroke Attack Grill</h1>
<h3>located 5 flights up the stairway to heaven</h3>
<h4>Operates all day and night cause when your head or heart breaks, aint nothing better than a shake, we got you.</h4>

<img class = "fix" src="{%static 'BurgerJoe.png' %}" alt="">
<table class="joe-table">
    <!-- <tr>
        <td>
        </td>
        <td>
            <img src="{%static 'BurgerFlippingBen.png'%}" alt="">
        </td> 
    </tr> -->
    <tr>
        <th>Hours of operation</th>
        <td>ALL! Come right on in!</td>
       
    </tr>
    <tr>
        <th> Steve's work times</th>
        <td>ALL OF THEM (he's in a prison work release program so he has no rights)</td>
    </tr>
</table>
</div>
<!-- add photos in here somewhere -->


{%endblock%}