{%extends 'OregonTrail_V2/base.html'%}

{%block content%}
<div class="page-contents">
<h1>Login</h1>
<form action="{%url 'login-O' %}" method="post">
    {%csrf_token%}
    {{form}}
    <input type="hidden" name="next" value="{%url 'base'%}">
    <div class="cancel">
    
    <h1 style="font-size: 18px; margin-top: 20px;">If you don't have a main site profile, please create one on the main page</h1>
    <input type="submit" value="Login">

</form>
<h3 class = "fun-times2"><a href="{%url 'create_full_profile' %}">Create New Profile</a></h3>
</div>
</div>
{%endblock%}