<table>
    <form action="{%url 'leaderboard' %}">
        <tr>
            <th>Main Player Name:</th>
            <td><input type="text" name="player1Name"></td>
        </tr>
        <tr>
           
        <tr>
            <th>Sort by Highest Day:</th>
            <td><input type="checkbox" name="high-day" id=""></td>
        </tr>
        <tr>
            <th>Sort by Highest Mile:</th>
            <td><input type="checkbox" name="high-mile" id=""></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
    </form>
</table>