{% extends 'OregonTrail_V2/base.html' %}
{%load static%}
{%block content%}
<div class="page-contents">
<link rel="stylesheet" href="{%static 'styles4.css'%}">


<div class="cont2">

    
    
    
    
    
    <div class="text-section">
        <h2 class="page-title">{{profile.name}}</h2>
       
    </div>


</div>
<h2 class="stat-title">Game Collection:</h2>
{%if request.user == profile.user%}

<button class="stat-title"> <a href="{%url 'create_game' %}">Create a New Game</a></button>
<button><a href="{%url 'create_player' %}">Create a new Player</a></button>
{%else%}
<h3 class="must-login">You can only edit your own page</h3>
{%endif%} 
<!-- <button class="stat-title"> {{profile.add_friend}}Add a Friend</button> -->
<!-- {{profile.get_stat_msg}} -->
 <div class="gallery-games" style="  
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
 justify-content: flex-start;
 padding: 20px;">


    {%for p in profile.get_games%}
    <div class="game-box" >
        
        <!-- <div class="stat-msg-text"> -->
        <p>Active: <strong>{{p.active}}</strong></p>
        <p>Miles Traveled: <strong>{{p.miles}}</strong></p>
        <p>Current Day: <strong>{{p.days}}</strong></p>
        <p>Current Season: <strong>{{p.season}}</strong></p>
        <p>Player 1: <strong>{{p.player1.name}}</strong></p>
        <p>Gender: <strong>{{p.player1.gender}}</strong></p>
        <div style="display: flex; gap:10px;">

            <button><a href="{%url 'play_game' p.pk%}">Play</a></button>
            <button><a href="{%url 'delete_game' p.pk%}">Delete</a></button>
        </div>
    </div>

    {%endfor%}
</div>
</div>
{%endblock%}