{%load static%}
<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static "styles3.css" %}">
    </head>
    <body>
        <nav class="joes-nav">
            <div class = "cont">
            <ul class="nav-links">
                <li><a href="{%url 'show_all'%}">Home</a></li>
                <!-- want to add link back to profile but not sure how pk is being passed through here -->
                {%if profile.pk%}
                <li><a href="{%url 'profile' profile.pk%}">Profile</a></li>
                {%else%}
                <li><a href="{%url 'profile' 1%}">Profile</a></li>
                {%endif%}
                 {%if profile.pk%}
                <li><a href="{%url 'news_feed' %}">Feed</a></li>
                {%else%}
                <li><a href="{%url 'news_feed'%}">Feed</a></li>
                {%endif%}

                {%if request.user.is_authenticated%}
                <li><a href="{%url 'base'%}">Oregon Trail</a></li>
                <!-- <li><a href="{%url 'create_profile'%}">Create Profile</a></li> -->
                <!-- need to run a post instead for some stupid reason -->
                 <!-- interesting, have to start giving up chat hes a meany pants in many ways -->
                <!-- <li><a href="{%url 'logout' %}">Log Out</a></li> -->
                <form action="{%url 'logout' %}" method="POST">
                    {%csrf_token%}
                    <input type="submit" value="logout">
                </form>
                {%else%}
                <li><a href="{%url 'login' %}">Login</a></li>
                {%endif%}
                
                
            </ul>
        </div>
        </nav>
        <div>
            <!-- <h1 class="page-title">
                ------------------------------------------------------------------------------------------------------
            </h1> -->

        </div>
        {%block content%}
        {%endblock%}

    </body>
</html>