{% extends 'mini_fb/base.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'styles4.css'%}">
    <h2 class="page-title">{{profile.first_name}}'s Friend Suggestions:</h2>
   <div class= "friend-section">
    {% for friend in profile.get_friend_suggestions %}
    <div class="friend-box">
    <!-- innefficient and could set a variable to be the profile instead but idk how to do variables in html -->
   
    <img src="{{friend.profile_img}}" alt="" >
    <h2>{{friend.first_name}} {{friend.last_name}}</h2>
    
  
</div>
<button class="stat-title"> <a href="{%url 'add_friend' profile.pk friend.pk %}">Add a Friend</a></button>
{%endfor%}

</div>



{%endblock%}