{% extends 'mini_fb/base.html' %}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'styles4.css'%}">
{%if profile.profile_img %}

<div class="cont2">

    
   <div class="image-section">

       
       <img src="{{profile.profile_img}}" alt="" class="img-title">
    </div>
    
    
    
    
    <div class="text-section">
        <h2 class="page-title">{{profile.first_name}} {{profile.last_name}}</h2>
        <h3 class="city">
            {{profile.city}}
        </h3>
        {%if request.user == profile.user%}
        <button> <a href="{%url 'update_profile'%}">Update Profile</a></button>
        {%else%}
        <h3 class="must-login">You must be logged in to update your profile</h3>
        {%endif%}
    </div>
</div>
<h2 class="stat-title">Status Messages:</h2>
{%if request.user == profile.user%}
<button class="stat-title"> <a href="{%url 'create_status' %}">Add a status</a></button>
{%else%}
<h3 class="must-login">You must be logged in to post a status message</h3>
{%endif%}
<!-- <button class="stat-title"> {{profile.add_friend}}Add a Friend</button> -->
<!-- {{profile.get_stat_msg}} -->
{%for p in profile.get_stat_msg%}
<div class="stat-msg">
    {%for img in p.get_images%}
    <img class="stat-img" src="{{img.image.url}}" alt="{{img.image.url}}" >
    {%endfor%}
    <!-- <div class="stat-msg-text"> -->
       <strong>{{p.timeStamp}}</strong> 
       <p>
        {{p.text}}
       </p>
       <!-- add in ablity to update or delete -->
        <div class="cancel">
            {%if request.user == profile.user%}
       <button><a href="{%url 'update_status' p.pk%}">Update</a></button>
        <button><a href="{%url 'delete_status' p.pk%}">Delete</a></button>
        {%endif%}
    </div>
    <!-- </div> -->
</div>
    {%endfor%}

    <h2 class="friend-title">{{profile.first_name}}'s Friends:</h2>
   <div class= "friend-section">
    {% for friend in profile.get_friends %}
    <div class="friend-box">
    <!-- innefficient and could set a variable to be the profile instead but idk how to do variables in html -->
    {%if friend.profile1 == profile%}
    <img src="{{friend.profile2.profile_img}}" alt="" >
    <h2>{{friend.profile2}}</h2>
    {%endif%}
    {%if friend.profile2 == profile%}
    <img src="{{friend.profile1.profile_img}}" alt="" >
    <h2>{{friend.profile1}}</h2>
    {%endif%}
</div>

    {%endfor%}
</div>

{%if request.user == profile.user%}
<button class = "foo"><a href="{%url 'friend_suggestion'%}">Find More Friends</a></button>
{%endif%}
{%endif%}
{%endblock%}