{%extends 'mini_fb/base.html'%}
{%load static%}
{%block content%}

<link rel="stylesheet" href="{% static 'styles4.css'%}">
<div class="add-prof">
<h2>Update Status</h2>
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
    <!-- need to figure out how to fix stupid button look oof its so ugly -->
    <input type="file" name="files"  multiple/>
    <div class="cancel">
        
<input type="submit" name= 'update_status' value="Update a Status">


</form>
<form method="GET" action="{%url 'profile' status_msg.profile.pk%}">
    <input type="submit" name= 'cancel' value= "Cancel" class="cancel-color">
    </form>
</div>
</div>
{%endblock%}