*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
/* .img-title{
    /* margin-top: 200px !important; */
    /* top:100px; */
    /* position: relative; 

} */
.content{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 50px;
    text-align: center;
    flex-direction: column;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
   
}
nav{
    background-color: rgb(143, 46, 46);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000; 
    /* make sure its on top of stuff */
}
ul{
    list-style: none;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.nav-links li{
    margin-left: 0 10px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
}
.nav-links a:hover{
    background-color: rgb(177, 110, 177);
    border-radius: 5px;
    
}

.page-title{
    font-size: 50px;
    align-items: center;
    /* margin-left: 30%; */
    margin-top: 50px;

}
img{
    max-width: 660px;
    height:auto;

    box-shadow: 5px 5px 5px 5px grey;

    /* display: flex; */
    /* margin: 0 auto; */
    margin-top: 50px;
    /* margin-left: 20%; */
}

table{
    /* border: 2px solid black; */
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px grey;
    /* margin-left: 30%; */
    margin-top: 5%;
    /* border-collapse: collapse; */
    
    

}
.filter{
    margin-left: 30%;
}
.pagination{
    margin-top: 10%;
}
th, td{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    
}

.container{
    max-width: 900px;
    margin: auto;
    padding: 20px;
    max-width: 100%;


}
.graph-container{
    margin-top: 10%;
}
.graph-butt{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google{
    margin-top: 5%;
}
/* adding in the order section */

.form-group{
    margin-bottom: 20px;
}
.form-group label{
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
}
.form-control{
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control textarea{
    height:100px;
    resize: none;
}


button{
    background: linear-gradient(135deg, rgb(249, 111, 111), rgb(110, 112, 254));
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 10px grey;
    transition: all 0.3s ease;
    transform: scale(1);
    margin-left: 10px;
    margin-right: 10px;

}
button:hover{
    background: linear-gradient(135deg, rgb(249, 141, 141), rgb(176, 168, 252));
    color: rgb(134, 2, 148);
    /* box-shadow: 0 6px 12px grey; */
    transform: scale(1.1);
}

input[type="submit"]{
    background: linear-gradient(135deg, rgb(249, 111, 111), rgb(110, 112, 254));
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    /* box-shadow: 0 4px 10px grey; */
    transition: all 0.3s ease;
    transform: scale(1);

}
input[type="submit"]:hover{
    background: linear-gradient(135deg, rgb(249, 141, 141), rgb(176, 168, 252));
    color: rgb(134, 2, 148);
    box-shadow: 0 6px 12px grey;
    transform: scale(1.1);
}