{%extends 'quotes/base.html'%}
{%load static%}

{%block title%}About Ben{%endblock%}


{%block content%}
<h1>About Ben</h1>
<img src="{%static image%}" alt="">
<p>Ben was born January 15th 1984 and is an american lawyer, columnist, and conservative political commentator 
    he is the host of The Ben Shapiro Show which is a daily political podcast and live radio
    this show is broadcast on the Daily Wire which he co-founded with Jeremy Boreing
    The Daily Wire started out very critical of Trump and Shapiro himself stated that he did not support or vote for him then
    Now he donates and helps the campaign as well as other conservative politicians. In contrast with other political commentators, Ben 
    does not just blindly accept the narrative proposed by his party. He often calls individuals acts into question and provides an educated
    and analytical take on many issues facing our time. He does have his moments where he holds back to toe the party line, I believe he could be
    more critical of Trump and showcase more of his flaws but he often chooses to focus more on Kamala's. I don't mind too much because I do 
    my own research and I find his dry sense of hummor and Kamala impression to be fantastic. He is married to a woman named Mor Toledano who is an
    Israeli medical doctor of Moroccan desent. They have two daughters and two sons.
    Ben also jokingly likes to describe himself as the #1 best ex-rapper after he performed in a piece called 'Facts' with Tom MacDonald.
</p>

<h1>Note about the creator</h1>
<p>Out of all the daily wire shows Ben's is my favorite. Especially with election season on the horizon the podcast is pretty interesting
    I also like his take on the Israeli Palestine conflict and enjoy hearing the news from a conservative perspective to contrast both the main stream
    and my college experience which has been overwhelmingly pro-liberal. I first got into politics while I was working at the poll, though I had some interest
    before then as well. When covid hit I was really ticked off that people were obviously lying and creating a huge mess and was confused why the whole
    thing had to become partisan. People on the left insisting it was basically the plague were outside partying while I, who didn't think it would be more than a 
    bad cold in my age group, was abiding by the rules so I could go back to school. It infuriated me to no end that I was in solitary confinement for months while
    the people who I was doing this for were messing around and having fun. I got frustrated with my classmates who were hyper sensitive and complaining about mental 
    health and not ever trying or doing anything about it and the teachers would just let them do it. I really enjoyed listening to people agree with me on some of these things 
    when normally people would never listen. It was also nice to break up the silence of my empty dorm room. Any way I really like listening to Ben because  I like his
    humor and the fact that he's pretty direct, literal, and analytical. He truly stands by "Facts don't care about your feelings" They really don't.
</p>
{% endblock %}