{%extends "oregonTrail/baseTest.html"%}
{%load static%}

{%block content%}
<h2>{{title}}</h2>
<h3>{{message}}</h3>
<div id="phaser-canvas"></div>
{%endblock%}

{%block javascript%}

<!-- test to get the images  -->
 <script>
    const sky = "{%static 'GameFiles/assets/space3.png'%}";
    const logo = "{%static 'GameFiles/assets/phaser3-logo.png'%}";
    const particle = "{%static 'GameFiles/assets/red.png'%}";
 </script>
<script src="{% static 'GameFiles/scripts/game.js' %}">
    
    // var config = {
    //     type: Phaser.Auto,
    //     width: 800,
    //     height: 600,
    //     parent: 'phaser-canvas',
    //     scene:{
    //         preload: preload,
    //         create: create,
    //         update: updates
    //     }
    // };

    // var game = new Phaser.Game(config);
    // function preload(){
        

    // }
    // function create(){

    // }
    // function update(){

    // }
</script>
{%endblock%}